<template name="maintenance">
    <div class="page lists-show">
        {{>topNav}}
        <div class="content-scrollable">
            <div class="col-xs-12" style="margin-bottom: 4px;">
                <button id="btn-generar-bi" class="btn btn-primary">Generar BI</button>
            </div>
            <div class="col-xs-12" style="margin-bottom: 4px;">
                <button id="btn-2" class="btn btn-warning">Reiniciar Evento</button>
            </div>
            <div class="col-xs-12" style="margin-bottom: 4px;">
                <button id="btn-go-inspect" class="btn btn-info">Go Inspect!</button>
            </div>
        </div>
    </div>
</template>