<template name="maintenance">
  <div class="page lists-show">
    {{>topNav}}
    <div class="content-scrollable">
      <section name="reportelogs">
        <table>
          <tbody>
            <td>RP</td>
            <td>Acción</td>
            <td>Fecha</td>
            <td>IP</td>            
          </tbody>
          {{#each logs}}
          <tr style="color: {{color}}">
            <td>{{rp}}</td>
            <td>{{accion}}</td>
            <td>{{fecha}}</td>
            <td>{{ip}}</td>            
          </tr>
          {{else}}
          <tr>
            <td>Sin historia</td>
          </tr>
          {{/each}}
        </table>
      </section>
    </div>
  </div>
</template>