.filtro {
  width: 100%;
  display: flex;
  justify-content: center;
}

.filtro .etiquetacheck {
  color: antiquewhite;
  margin-right: 1em;
  position: relative;
  top: -0.5em;
}

.tabla-bi td {
  border: 1px solid #ccc;
  padding: 4px;
  background-color: white;
  color: black;
}
.tabla-bi tr th {
  font-weight: bold;
  height: 140px;
  color: ghostwhite;
}
th.rotate {
  height: 140px;
  white-space: nowrap;
}
th.rotate > div {
  transform: 
    translate(12px, 47px)
    rotate(285deg);
  width: 40px;
}
th.rotate > div > span {
  border-bottom: 1px solid skyblue;
  padding: 5px 10px;
}
.tabla-bi td:not(:first-child) {
  width: 64px;
}

.marco-filtro {
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgba(155, 155, 255, 0.2);
}