<template name="navigation">
  <div class="list-navigation">
    <!--
    <a href="{{pathFor 'eventsList'}}" class="btn-secondary" style="text-align:left;"><span class="glyphicon glyphicon-list-alt"></span>
            Eventos</a>
    
    {{#if isRPAdmin}}
    <a href="{{pathFor 'eventEdit'}}" class="btn-secondary" style="text-align:left;"> <span class="glyphicon glyphicon-calendar"></span>
      Crear Evento</a>
    {{/if}} 
    
    {{#if accessManager}}
    <a href="{{pathFor 'manager'}}" class="btn-secondary" style="text-align:left;"><span class="glyphicon glyphicon-user"></span>
            Usuarios</a>
    {{/if}}
    
    {{#if isOwner}}
    <a href="{{pathFor 'bi'}}" class="btn-secondary" style="text-align:left;"><span class="glyphicon glyphicon-stats"></span>
      Reportes</a> 
    {{/if}}
    -->
  </div>
</template>